@import "tailwindcss";
@import "@nuxt/ui";

@theme {

}

/* ===========================
   Base & Reset Styles
   =========================== */

:root {
    color-scheme: dark;
}

html {
    scroll-behavior: smooth;
}
